footer {
  text-align: center;
  margin: 100px 0 0;
}
footer > *{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pager {
  list-style: none;
  text-align: center;
  margin: 20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager .previous > a {
  margin: 20px 0 0;
  float: left;
  display: block;
}

.pager .next > a {
  margin: 20px 0 0;
  float: right;
  display: block;
}

/* Custom */
.nav-logo, .nav-logo img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 0;
}

.nav-links li{
  padding-left: 5px;
  padding-right: 5px;
}

.nav-links li::before{
  content: none;
}

nav {
  margin-bottom: 10px;
}

.credits.socials {
  display: flex;
  flex-grow: 0;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
  color: black;
}

a.iconafter .inline-svg{
  padding-left: 5px;
}

a.iconbefore .inline-svg{
  padding-right: 5px;
}