{{ partial "nav.html" . }}

{{ if .Site.Params.logo }}
<a href="{{ .Site.BaseURL }}" class="nav-logo">
<img src="{{ .Site.BaseURL }}{{ .Site.Params.logo.url }}"
     width="{{ .Site.Params.logo.width }}"
     height="{{ .Site.Params.logo.height }}"
     alt="{{ .Site.Params.logo.alt }}">
</a>
{{ end }}
{{if eq ( .Permalink | relURL ) "/404.html"}}
  {{ $.Scratch.Set "title" ( .Site.Params.notFoundString | default "Error 404" )}}
{{ else }}
{{ if .IsHome }}
{{ if .Site.Params.homeTitle }}
  {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
{{ else }}
  {{ $.Scratch.Set "title" .Site.Title }}
{{ end }}
{{ else }}
{{ $.Scratch.Set "title" .Title }}
{{ end }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
<header>
  <div class="intro-header">
    <div class="container">
      <div class="{{ .Type }}-heading">
        {{ if eq .Type "list" }}
          <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
        {{ else }}
          <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
          {{ if .IsHome }}
            <p class="author">{{ with .Site.Author.name }}{{.}}{{ else }}<br/>{{ end }}</p>

            {{ if .Site.Author.abstract }}
              <div class="abstract">
                <h5>Abstract</h5>
                <p>
                  {{ .Site.Author.abstract }}
                </p>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</header>
{{ else }}
<div class="intro-header"></div>
{{ end }}