footer .theme-by {
  text-align: center;
  margin: 100px 0 0;
}

.pager {
  list-style: none;
  text-align: center;
  margin: 20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager .previous > a {
  margin: 20px 0 0;
  float: left;
  display: block;
}

.pager .next > a {
  margin: 20px 0 0;
  float: right;
  display: block;
}

/* Custom */
.nav-logo, .nav-logo img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 0;
}

.nav-links li{
  padding-left: 5px;
  padding-right: 5px;
}

.nav-links li::before{
  content: none;
}

nav {
  margin-bottom: 10px;
}
